In [17]:
transactions = []
from preprocessing.prepro_utils import remove_missing_description, conv_scode_desc, remove_neg_quan, get_sub_dataset, get_transactions, gen_transactions_csv, map_stock_codes, map_to_json, get_anon_transactions
import pandas as pd
from ydata_profiling import ProfileReport

In [18]:
original = pd.read_excel('./original.xlsx')

In [19]:
original.to_csv('./original.csv')

# removing rows with missing Description

In [20]:
remove_missing_description(original)

# converting SotckCode and Description into String

In [21]:
conv_scode_desc(original)

# Removing negative quantities

In [22]:
remove_neg_quan(original)

In [23]:
subset = get_sub_dataset(original, ['InvoiceNo', 'Quantity', 'UnitPrice', 'Country'])

# extract list of transactions made by anonymous customers
## In this case, we will choose a short time interval based on the following reasoning: if a customer is not registered in the store, it is less probable that they will make a substantial number of purchases.

In [24]:
time_interval = 3
transactions = get_anon_transactions(subset, time_interval)

# extract the transactions list made by registered customers

In [25]:
# the time interval for transaction grouping in minutes
time_interval = 3

In [26]:
transactions.extend(get_transactions(subset, time_interval))

In [27]:
df = pd.DataFrame(transactions)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,21773,21774,21786,21787,21790,21791,21801,21802,21803,21809,...,None,None,None,None,None,None,None,None,None,None
1,21773,21774,21786,21787,21790,21791,21801,21802,21803,21809,...,None,None,None,None,None,None,None,None,None,None
2,21773,21774,21786,21787,21790,21791,21801,21802,21803,21809,...,None,None,None,None,None,None,None,None,None,None
3,21773,21774,21786,21787,21790,21791,21801,21802,21803,21809,...,None,None,None,None,None,None,None,None,None,None
4,21773,21774,21786,21787,21790,21791,21801,21802,21803,21809,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167978,23209,23681,20727,20726,20718,20717,23199,23200,23203,23582,...,None,None,None,None,None,None,None,None,None,None
167979,22755,22754,22753,22756,22758,22757,22752,22583,22582,84584,...,22644,21382,21556,85039A,85040A,85039B,85039B,85040A,72349B,None
167980,22865,23264,23274,23272,22603,22600,22144,23267,22306,21824,...,23223,23269,47422,47421,72351B,72351A,72349B,85173,85039B,85039A
167981,23445,23077,23078,23076,23310,22421,22419,22866,None,None,...,None,None,None,None,None,None,None,None,None,None
167982,23264,21824,21014,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [29]:
gen_transactions_csv(transactions,'./transactions.csv')

writen to ./transactions.csv

<div style="background-color: rgba(0, 255,50, .5); border-radius: 20px; padding: 20px; color: white" >
    because we used the StockCode of items, we will need to map each StockCode to its corresponding item 
</div>

# we'll write the map to a json file in case we need it later for the user interface (search products)

In [30]:
mapping = map_stock_codes(subset)
map_to_json(mapping, './map_stockCode_item.json')